

.variable-font {
  font-family: 'Grandstander', cursive;

  font-weight: 550;
  font-size: 30px;
}

.my-iframe {
  border: 2px solid black;
}

.space-filler {
  width: 200px;
  height: 1000px;
  background: lightgreen;
}

video {
  width: 100px;
}

.menu-item > img {
  width: 200px;
}