*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}

.phone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vmin;
    height: 80vmin;
    padding: 1vmin;
    border-radius: 4vmin;
    border: 2px solid black;
    box-shadow: 0px 1.5vmin 3vmin -2vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #fff4
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.box {
    width: 7vmin;
    height: 7vmin;
    border-radius: 2vmin;
    transition: transform .25s;
    border: 2px solid black;
    background: none !important;
    position: relative;
}

.box::before {
    content: "999";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -.5vmin;
    top: -.5vmin;
    font-size: 1.2vmin;
    background: red;
    color: white;
    padding: .25vmin .5vmin;
    border-radius: 100px;
}

.box:hover {
    transform: scale(1.2);
}

.gif00 {
    background: #2B2BAA;
    background: -webkit-linear-gradient(top left, #2B2BAA, #6B602F);
    background: -moz-linear-gradient(top left, #2B2BAA, #6B602F);
    background: linear-gradient(to bottom right, #2B2BAA, #6B602F);
}
.gif01 {
    background: #37DBB1;
background: -webkit-linear-gradient(top left, #37DBB1, #B4CEE0);
background: -moz-linear-gradient(top left, #37DBB1, #B4CEE0);
background: linear-gradient(to bottom right, #37DBB1, #B4CEE0);
}
.gif02 {
    background: #772322;
background: -webkit-linear-gradient(top left, #772322, #1A59CB);
background: -moz-linear-gradient(top left, #772322, #1A59CB);
background: linear-gradient(to bottom right, #772322, #1A59CB);
}
.gif03 {
    background: #F971CD;
background: -webkit-linear-gradient(top left, #F971CD, #EC2A54);
background: -moz-linear-gradient(top left, #F971CD, #EC2A54);
background: linear-gradient(to bottom right, #F971CD, #EC2A54);
}
.gif04 {
    background: #C7E737;
background: -webkit-linear-gradient(top left, #C7E737, #5F51BE);
background: -moz-linear-gradient(top left, #C7E737, #5F51BE);
background: linear-gradient(to bottom right, #C7E737, #5F51BE);
}
.gif05 {
    background: #44C179;
background: -webkit-linear-gradient(top left, #44C179, #62CA54);
background: -moz-linear-gradient(top left, #44C179, #62CA54);
background: linear-gradient(to bottom right, #44C179, #62CA54);
}
.gif06 {
    background: #3E1548;
background: -webkit-linear-gradient(top left, #3E1548, #67AC47);
background: -moz-linear-gradient(top left, #3E1548, #67AC47);
background: linear-gradient(to bottom right, #3E1548, #67AC47);
}
.gif07 {
    background: #6318D3;
background: -webkit-linear-gradient(top left, #6318D3, #6D6194);
background: -moz-linear-gradient(top left, #6318D3, #6D6194);
background: linear-gradient(to bottom right, #6318D3, #6D6194);
}
.gif08 {
    background: #FBA5A6;
background: -webkit-linear-gradient(top left, #FBA5A6, #E68826);
background: -moz-linear-gradient(top left, #FBA5A6, #E68826);
background: linear-gradient(to bottom right, #FBA5A6, #E68826);
}
.gif09 {
    background: #A8E1F9;
background: -webkit-linear-gradient(top left, #A8E1F9, #6DFD99);
background: -moz-linear-gradient(top left, #A8E1F9, #6DFD99);
background: linear-gradient(to bottom right, #A8E1F9, #6DFD99);
}
.gif10 {
    background: #71DAAD;
background: -webkit-linear-gradient(top left, #71DAAD, #A0A148);
background: -moz-linear-gradient(top left, #71DAAD, #A0A148);
background: linear-gradient(to bottom right, #71DAAD, #A0A148);
}
.gif11 {
    background: #308DF2;
background: -webkit-linear-gradient(top left, #308DF2, #BA4638);
background: -moz-linear-gradient(top left, #308DF2, #BA4638);
background: linear-gradient(to bottom right, #308DF2, #BA4638);
}
.gif12 {
    background: #A76F11;
background: -webkit-linear-gradient(top left, #A76F11, #5FED29);
background: -moz-linear-gradient(top left, #A76F11, #5FED29);
background: linear-gradient(to bottom right, #A76F11, #5FED29);
}
.gif13 {
    background: #EDA7F5;
background: -webkit-linear-gradient(top left, #EDA7F5, #A74586);
background: -moz-linear-gradient(top left, #EDA7F5, #A74586);
background: linear-gradient(to bottom right, #EDA7F5, #A74586);
}
.gif14 {
    background: #BE2A0F;
background: -webkit-linear-gradient(top left, #BE2A0F, #E7065D);
background: -moz-linear-gradient(top left, #BE2A0F, #E7065D);
background: linear-gradient(to bottom right, #BE2A0F, #E7065D);
}
.gif15 {
    background: #5D0052;
background: -webkit-linear-gradient(top left, #5D0052, #43D3E3);
background: -moz-linear-gradient(top left, #5D0052, #43D3E3);
background: linear-gradient(to bottom right, #5D0052, #43D3E3);
}
.gif16 {
    background: #C7B11A;
background: -webkit-linear-gradient(top left, #C7B11A, #8CB910);
background: -moz-linear-gradient(top left, #C7B11A, #8CB910);
background: linear-gradient(to bottom right, #C7B11A, #8CB910);
}
.gif17 {
    background: #40062C;
background: -webkit-linear-gradient(top left, #40062C, #7F606C);
background: -moz-linear-gradient(top left, #40062C, #7F606C);
background: linear-gradient(to bottom right, #40062C, #7F606C);
}
.gif18 {
    background: #6AF2A6;
background: -webkit-linear-gradient(top left, #6AF2A6, #1D852C);
background: -moz-linear-gradient(top left, #6AF2A6, #1D852C);
background: linear-gradient(to bottom right, #6AF2A6, #1D852C);
}
.gif19 {
    background: #6286AC;
background: -webkit-linear-gradient(top left, #6286AC, #084963);
background: -moz-linear-gradient(top left, #6286AC, #084963);
background: linear-gradient(to bottom right, #6286AC, #084963);
}
.gif20 {
    background: #EE93CE;
background: -webkit-linear-gradient(top left, #EE93CE, #8105CF);
background: -moz-linear-gradient(top left, #EE93CE, #8105CF);
background: linear-gradient(to bottom right, #EE93CE, #8105CF);
}
.gif21 {
    background: #DD156A;
background: -webkit-linear-gradient(top left, #DD156A, #CED7A7);
background: -moz-linear-gradient(top left, #DD156A, #CED7A7);
background: linear-gradient(to bottom right, #DD156A, #CED7A7);
}
.gif22 {
    background: #64C57F;
background: -webkit-linear-gradient(top left, #64C57F, #C6D4C4);
background: -moz-linear-gradient(top left, #64C57F, #C6D4C4);
background: linear-gradient(to bottom right, #64C57F, #C6D4C4);
}
.gif23 {
    background: #8D1BB2;
background: -webkit-linear-gradient(top left, #8D1BB2, #5BDEB2);
background: -moz-linear-gradient(top left, #8D1BB2, #5BDEB2);
background: linear-gradient(to bottom right, #8D1BB2, #5BDEB2);
}

